.order-list {
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  border: rgb(228, 225, 225) 2px solid;
  border-radius: 5px;
}
.order-name {
  text-align: center;
}
.order-include {
  margin-top: 5px;
}
.order-price {
  margin-top: 5px;
}
.order-button {
  color: white;
  background-color: rgb(197, 76, 55);
  padding: 10px 16px;
  border: 0;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
.title {
  text-align: center;
}
.detail-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}
