.order-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  text-align: center;
}
.order-preview:hover {
  box-shadow: 1px 3px 3px rgb(172, 171, 171);
}
.order-preview h2 {
  color: rgb(197, 76, 55);
  margin-bottom: 8px;
}
/* The Link is basically an a */
.order-preview a {
  text-decoration: none;
}
.orders-list {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}
.order-title {
  text-align: center;
}
.order-error,
.order-load {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
