.home-container {
  padding: 15px;
  margin: 20px auto;
  max-width: 800px;
}
.home-container {
  text-align: center;
}
.home-title {
  padding-bottom: 15px;
}
.home-button {
  color: white;
  background-color: rgb(197, 76, 55);
  padding: 10px 14px;
  border: 0;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
